<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.buddi.mapper.BuddiMapper">

	<!-- 유저 관련 -->
    <select id="login" 
    	resultType="String" 
    	parameterType="com.buddi.vo.BuddiUserVO">
        SELECT uid
        FROM user
        WHERE uid=#{uid} AND pwd=#{pwd}
    </select>

     <select id="getUserById" 
    	resultType="com.buddi.vo.BuddiUserVO"
    	parameterType="String">
        SELECT *
        FROM user
        WHERE uid=#{uid}
    </select>
    
    <select id="getUserNumById" 
    	resultType="Integer"
    	parameterType="String">
        SELECT uNum
        FROM user
        WHERE uid=#{uid}
    </select>
    
    <select id="getRanking"
    	resultType="com.buddi.vo.BuddiUserVO">
    	SELECT * 
    	FROM user
    	ORDER BY mBall DESC;
    </select>
    
    
    <update id="addPoUser"
    	parameterType="Integer">
    	UPDATE getpo SET po_ea = po_ea+1 WHERE user_num=#{user_num} AND po_num=#{dNum}
    </update>
    
    <insert id="insertPoUser"
    	parameterType ="map">
    	INSERT INTO getpo VALUES(NULL,#{user_num},#{dNum},1)
    
    </insert>
    
    
     <update id="minusBall" parameterType="map">
    UPDATE user SET mBall = mBall-#{count} WHERE uid=#{uid}
    </update>
    <update id= "plusBall">
    UPDATE user SET mBall = mBall+1
    </update>
    
    
    
     <!-- 포켓몬 관련 -->
       <update id= "reTodayMon" >
    UPDATE poketmon SET toMon = 0 WHERE toMon=1
    </update>
    <update id= "todayMon" parameterType="Integer">
    UPDATE poketmon SET toMon = 1 WHERE dNum=#{num}
    </update>
    
    <select id="getTodayMon" resultType="com.buddi.vo.BuddiMonVO">
   		SELECT * 
       	FROM poketmon p 
       	LEFT OUTER JOIN ptype pt ON p.dNum=pt.po_num 
       	LEFT OUTER JOIN type t ON pt.tp_num=t.type_num
        WHERE toMon = 1
    </select>
    
    
    <select id="getMonByNum" 
    	resultType="hashmap"
    	parameterType="Integer">
       	SELECT * 
       	FROM poketmon p 
       	LEFT OUTER JOIN ptype pt ON p.dNum=pt.po_num 
       	LEFT OUTER JOIN type t ON pt.tp_num=t.type_num
        WHERE dNum=#{dNum}
        
    </select>
    
    <select id="getOwnMon"
    	resultType="com.buddi.vo.BuddiMonVO"
    	parameterType="map">
    	SELECT * FROM 
    	(SELECT * FROM user u 
		LEFT OUTER JOIN getpo g ON u.uNum=g.user_num 
		LEFT OUTER JOIN poketmon p ON g.po_num=p.dNum
		 
 		WHERE u.uid =#{uid} ORDER BY p.dNum LIMIT #{page},12)t1,
 		(SELECT COUNT(*) totalcnt FROM user u 
		LEFT OUTER JOIN getpo g ON u.uNum=g.user_num 
		LEFT OUTER JOIN poketmon p ON g.po_num=p.dNum 
		WHERE u.uid =#{uid} ORDER BY p.dNum)t2;
    	</select>
    	
 <!--    <select id="getOwnM"
    	resultType="map"
    	parameterType="map">
    	SELECT * FROM 
    	(SELECT g.po_ea, p.dNum, p.pName, p.pGrade FROM user u 
		LEFT OUTER JOIN getpo g ON u.uNum=g.user_num 
		LEFT OUTER JOIN poketmon p ON g.po_num=p.dNum 
 		WHERE u.uid =#{uid} ORDER BY p.dNum LIMIT (#{page}-1)*5,5)t1,
 		(SELECT COUNT(*) totalcnt FROM user u 
		LEFT OUTER JOIN getpo g ON u.uNum=g.user_num 
		LEFT OUTER JOIN poketmon p ON g.po_num=p.dNum 
		WHERE u.uid =#{uid} ORDER BY p.dNum)t2;
    	</select> -->
    	
    	
   <!-- 
    <select id="getUserList" 
    	resultType="com.buddi.vo.BuddiUserVO">
        SELECT uid,pwd,name,phone
        FROM users
    </select>
    
    <select id="getUserMap" 
    	resultType="map">
        SELECT uid,pwd,name,phone
        FROM users
    </select>
    
    <insert id="insertUser" 
    	parameterType="com.buddi.vo.BuddiUserVO">
    	INSERT INTO users VALUES(#{uid},#{pwd},#{name},#{phone})
    </insert>
    
	한 행을 추가하고 자동증가필드의 값을 파라미터 객체의 num변수에 할당
	<insert id="addAndGetKey" useGeneratedKeys="true" keyProperty="num"
        parameterType="com.buddi.vo.BuddiUserVO">
		INSERT INTO users VALUES(NULL,#{name},#{phone},#{email})
	</insert>

    update 요소는 resultType 속성이 없어도 변경된 행의 수(정수)가 리턴됨
    <update id="updateUser" 
    	parameterType="com.buddi.vo.BuddiUserVO">
    	UPDATE users 
    	SET phone=#{phone}
    	WHERE uid=#{uid}
    </update>
    
    <update id="updateByMap" 
    	parameterType="map">
    	UPDATE users 
    	SET phone=#{phone}
    	WHERE uid=#{uid}
    </update>

    <delete id="deleteUser" parameterType="String">
    	DELETE FROM users WHERE uid=#{uid}
    </delete> -->
    <!-- 게시판 관련 -->
    <insert id="addBoard" 
       parameterType="com.buddi.vo.BuddiBoardVO"
       useGeneratedKeys="true" keyProperty="num">
       INSERT INTO board VALUES(null, #{title}, #{author}, #{contents}, NOW())
    </insert>
    
    <insert id="addFileInfo"
       parameterType="map">
       INSERT INTO attach VALUES(null, #{board_num}, #{filename}, #{filesize})
    </insert>
    
    <select id="boardList"
       resultType="map">
       SELECT * FROM board b LEFT OUTER JOIN attach a
       ON b.num=a.board_num
    </select>
    <select id="getDetail"
    resultType="map"
    parameterType="Integer">
    SELECT * FROM board b LEFT OUTER JOIN attach a ON b.num=a.board_num WHERE b.num=#{num}
    </select>
    
    <select id="getFilename" parameterType="Integer" resultType="String">
    SELECT filename FROM attach WHERE att_num=#{num}
    </select>
    
    <delete id="deleteFileInfo" parameterType="Integer">
    DELETE FROM attach WHERE att_num=#{num};
    </delete>
    
   <select id="getEa" 
   resultType="com.buddi.vo.BuddiEaVO"
   parameterType="String">
   
   	SELECT pType, sum(po_ea) ea FROM  user u 
	LEFT OUTER JOIN getpo g ON u.uNum=g.user_num 
	LEFT OUTER JOIN  poketmon p ON g.po_num=p.dNum 
	LEFT OUTER JOIN ptype pt ON p.dNum=pt.po_num 
	LEFT OUTER JOIN type t ON pt.tp_num=t.type_num
	WHERE u.uid = #{uid} GROUP BY pType ORDER BY ea DESC;
   
   </select>
   
   
    
</mapper>